body{
    margin: 0;  
    padding: 0;  
    background-color:#ffdbdbba;  
    font-family: 'Arial'; 
}

form{
    width: 100%;  
    color: aliceblue;
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 30px;  
    background: #23463f;
    border: 100px; 
    border-radius: 10px ;  
}

input[type=text], input[type=password], input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
} 

ul{
    font-size: 12px;
}

.pace{
    margin-top: 200px;
}

.pace p{
    text-align: center;  
    color: #277582;  
    padding: 10px;
    font-size: 20px;  
} 

button{
    background-color: #330101;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100px;
}

.test{
    text-align: center;
    
}

span.helptext{
    display: block;
}

li.marker{
    display: block;
}

a{
    color: white;
}